h3 {
  font-family: 'Titillium Web', sans-serif;
  display: inline;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 6vw;
  font-weight: bold;
 
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  height: 750px;
  margin: 0px;
}

a:link, a:visited {
  font-family: 'Titillium Web', sans-serif;
  background-color: #725B56;
  color: white !important;
  border-radius: 8px;
  margin: 15px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.big:link, a:visited {
  font-family: 'Titillium Web', sans-serif;
  position: relative;
   text-align: center;
   border: none;
   color: black;
   display: block;
   background-color: transparent !important;
   transition: 0.5s;
}

a.big:hover, a.big:active {
   font-family: 'Titillium Web', sans-serif;
   position: relative;
   text-align: center;
   background-color: transparent !important;
   color: black;
   display: block;
   transition: 0.5s;
}

.container {
 width: 100%;
 position:relative;
}

.container:hover img{  
  opacity: 0.45;
  transition: 0.2s;
 }

.container:hover .centered {
  font-size: 30px;
  font-weight: bold;
  transition: 0.2s;
}

.container:hover {
   font-size: 30px;
   transition: 0.2s;
}

.centered:hover + img{
   opacity: 0.45;
  transition: 0.2s;
}

.centered:hover {
  font-size: 30px;
  font-weight: bold;
  transition: 0.2s;
}

a:hover, a:active {
   font-family: 'Titillium Web', sans-serif;
    background-color: #ddd;
   color: black;
}

filler {
  font-family: 'Titillium Web', sans-serif;
  margin: 7px;
}

diva {
  display: inline;
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    color: white;
    line-height: 1.8;
    background-image: 
       linear-gradient(
      rgba(60, 53, 51, 0.9), 
      rgba(60, 53, 51, 0.9)),
       url('../CharlesSunset.PNG');
  background-repeat: repeat;
  background-size: 150%;
  background-attachment: fixed;
  }
  
p {font-size: 2vw;}
.margin {margin-bottom: 15px;}

.container-fluid {
  padding: 30px;
  padding-bottom: 70px;
}

img {
  text-align: center;
  height: auto;
  margin: 5px;
  border: 10px solid white;
  padding: 10px;
}

img:hover {
  text-align: center; 
  height: auto;
  margin: 5px;
  border: 10px solid white;
  padding: 10px;
  opacity: 0.45;
  background-opacity: 1;
}

.borderexample {
border-style:solid;
border-color:#725B56;
}

.boxed {
  border: 3px solid #725B56 ;
}

.center {
 text-align: center
}


#navbar {
 
  position: fixed; /* Make it stick/fixed */
  background-color: rgba(60, 53, 51, 0.9);
  z-index: 2;
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
  font-family: 'Titillium Web', sans-serif;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  z-index: 2;
}

#navbar a:hover {
  font-family: 'Titillium Web', sans-serif;
  background-color: #ddd;
  color: black;
  z-index: 2;
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0px;
  color: white;
}