#header {
  font-family: 'Titillium Web', sans-serif;
  margin: 150px 10px;
  padding: 20px;
  text-align: center !important; /* Centered text */
  color: white;
  font-size: 90px;
  font-weight: bold;
  transition: 0.2s;
  
 
}

button {
   font-family: 'Titillium Web', sans-serif;
   transition: 0.3s;
   background-color: Transparent;
   background-repeat:no-repeat;
   border-radius: 8px;
   border: none;
   transition:0.5s;
}

button:hover, button:active {
   color: black !important;
font-family: 'Titillium Web', sans-serif;
   border-radius: 8px;
   background-color: #ddd;
   transition:0.5s;
}

up {
transition: none;
background-color: black;
opacity: 0.3;
}


#h2 {
  font-family: 'Titillium Web', sans-serif;
  padding: 0px !important;
  display: inline;
  text-align: center; /* Centered text */
  color: white;
  font-size: 0px;
  font-weight: bold;
}

h1 {
  vertical-align: top;
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  margin-top: 1px;
  padding-top: 0px;
  padding-bottom: 5px;
}

a.small:link, a.small:visited {
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  background-color: #725B56;
  color: white;
  border-radius: 8px;
  margin: 15px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.small:hover, a.small:active {
   font-family: 'Titillium Web', sans-serif;
   font-size: 15px;
   background-color: #ddd;
   color: black;;
}

a.big:link, a.big:visited {
  font-family: 'Titillium Web', sans-serif;
  position: relative;
   text-align: center;
   color: black;
   display: block;
   transition: 0.5s;
}

a.big:hover, a.big:active {
   font-family: 'Titillium Web', sans-serif;
   position: relative;
   text-align: center;
   padding: -15px;
   background-color: transparent;
   color: black;
   display: block;
   transition: 0.5s;
}

img.big {
  text-align: center;
  width: 92%;
  height: auto;
  margin: auto;
  border: 10px solid white;
  padding: 10px;
}

img.big:hover {
  text-align: center; 
  width: 92%;
  height: auto;
  margin: auto;
  border: 10px solid white;
  padding: 10px;
  opacity: 0.45;
  background-opacity: 1;
}

.container {
 width: 100%;
 position:relative;
}

.container:hover img.big {  
  opacity: 0.45;
  background-opacity: 1;
  transition: 0.2s;
 }

.container:hover .centered {
  font-size: 30px;
  font-weight: bold;
  transition: 0.2s;
}

.container:hover {
   background-image: linear-gradient(to right, transparent, transparent 7%, black 7%, black 93%, transparent 93%, transparent 100%);
  transition: 0.2s;
}

.centered {
  font-family: 'Titillium Web', sans-serif;
  color: white;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.textOverlay {
  display: none;
}

.textOverlay:hover{
  display: block;
}

filler {
  font-family: 'Titillium Web', sans-serif;
  color: white;
  margin: 7px;
}

diva {
  display: inline;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    background-image: 
       linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)),
       url('./CharlesSunset.PNG');
  background-repeat: no-repeat;
  background-size: 150%;
  background-attachment: fixed;
  }
  
p {font-size: 16px;}
.margin {margin-bottom: 15px;}

.container-fluid {
  padding: 30px;
  padding-bottom: 70px;
}

.borderexample {
border-style:solid;
border-color:#725B56;
}

.boxed {
  border: 3px solid #725B56 ;
}

.center {
 text-align: center
}



